.Lbarmain {
  padding: 30px;
  cursor: pointer;
  width: "30%";
  background-color: #009387;
  margin-top: 1px;
  /* border-radius: 20px; */
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fff;
  padding-inline: 3;
}

.Lbarmain :hover {
  background-color: #6ae7b3;
  padding: 20px;
  border-radius: 20px;
}
