.Cmain {
  /* color: #009387; */
  padding: 30px;
}

.Imain {
  /* color: #009387; */
  padding: 30px;
}

/* .h3 {
  margin-bottom: 10px;
  color: #009387;
  padding: 30px;
} */

.Amain {
  /* color: #009387; */
  padding: 30px;
}
